{% load static %}
<div>
<header x-data="{ mobilenavOpen: false }" class="md:flex items-center justify-between [&>*]:px-8 bg-gray-800 h-20 text-white sticky top-0 z-40">
    <div class="flex items-center justify-between h-20">
        <logo>
            <a class="flex items-center gap-1" href="/">
                <img class="w-7 -mt-1" src="{% static 'images/home_icon.png' %}"/>
                <span class="text-lg font-bold">Rentdoor</span>
            </a>
        </logo>
        <mobileicon class="md:hidden">
            <a @click="mobilenavOpen = !mobilenavOpen" class="h-12 w-12 flex items-center justify-center cursor-pointer hover:bg-gray-700 rounded-lg">
                <img x-show="!mobilenavOpen" class="w-6 h-6 select-none" src="https://img.icons8.com/small/64/ffffff/menu.png"/> 
                <img x-show="mobilenavOpen" x-cloak class="w-6 h-6 select-none" src="https://img.icons8.com/small/64/ffffff/delete-sign.png"/>
            </a>
        </mobileicon>
    </div>
    <nav x-show="mobilenavOpen" x-cloak class="md:!block bg-gray-800 h-screen w-screen md:h-auto md:w-auto -mt-20 md:mt-0 absolute md:relative z-[-1]"
    x-transition:enter="duration-300 ease-out"
    x-transition:enter-start="opacity-0 -translate-y-96"
    x-transition:enter-end="opacity-100 translate-y-0">
        <ul class="flex items-center navitems flex-col md:flex-row gap-8 md:gap-0 justify-center h-full -translate-y-10 md:translate-y-0">
            <li><a href="/">Home</a></li>
            <li><a href="/search-review">Search</a></li>
            <li><a href="/create-review">Write a Review</a></li>
            {% if user.is_authenticated %}
            <li x-data="{ dropdownOpen: false }" class="relative">
                <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false" class="cursor-pointer select-none">
                    {% comment %}<img class="h-8 w-8 rounded-full object-cover" src={{ user_profile_link }}/>{% endcomment %}
                    <img class="h-8 w-8 rounded-full object-cover" src = "data:image/*;base64,{{user_profile_link | safe}}">
                    <img x-bind:class="dropdownOpen && 'rotate-180 duration-300'" class="w-4" src="https://img.icons8.com/small/32/777777/expand-arrow.png"/>
                </a>
                <div x-show="dropdownOpen" x-cloak class="absolute right-0 bg-white text-black shadow rounded-lg w-40 p-2 z-20"
                x-transition:enter="duration-300 ease-out"
                x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
                x-transition:enter-end="opacity-100 translate-y-0 scale-100">
                    <ul class="hoverlist [&>li>a]:justify-end">
                        <li><a href="">My Profile</a></li>
                        <li><a href="">Edit Profile</a></li>
                        <li><a href="user/logout">Log Out</a></li>
                    </ul>
                </div>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>
<!-- Toast -->
{% comment %}<div class="grid grid-cols-3 max-w-7xl mx-auto my-6 px-6">{% endcomment %}
    {% comment %}{% if messages %}{% endcomment %}
    {% comment %}<ul class="messages">{% endcomment %}
    {% comment %}{% for message in messages %}{% endcomment %}
        {% comment %}<li>{% endcomment %}
            {% comment %}<div class="max-w-xs bg-white border border-gray-200 rounded-xl shadow-lg dark:border-gray-700 mr-auto ml-auto mt-6" id="toast_container" role="alert">{% endcomment %}
              {% comment %}<div class="flex p-4">{% endcomment %}
                {% comment %}<div class="flex-shrink-0">{% endcomment %}
                  {% comment %}<svg class="flex-shrink-0 h-4 w-4 text-teal-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">{% endcomment %}
                    {% comment %}<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>{% endcomment %}
                  {% comment %}</svg>{% endcomment %}
                {% comment %}</div>{% endcomment %}
                {% comment %}<div class="ms-3">{% endcomment %}
                  {% comment %}<p class="text-sm text-gray-700 dark:text-gray-800">{% endcomment %}
                      {% comment %}{{ message }}{% endcomment %}
                  {% comment %}</p>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
        {% comment %}</li>{% endcomment %}
    {% comment %}{% endfor %}{% endcomment %}
    {% comment %}</ul>{% endcomment %}
    {% comment %}{% endif %}{% endcomment %}
    <!-- End Toast -->

    <!-- Toast -->
    {% comment %}<div class="max-w-xs bg-white border border-gray-200 rounded-xl shadow-lg dark:border-gray-700" role="alert">{% endcomment %}
      {% comment %}<div class="flex p-4">{% endcomment %}
        {% comment %}<div class="flex-shrink-0">{% endcomment %}
          {% comment %}<svg class="flex-shrink-0 h-4 w-4 text-red-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">{% endcomment %}
            {% comment %}<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>{% endcomment %}
          {% comment %}</svg>{% endcomment %}
        {% comment %}</div>{% endcomment %}
        {% comment %}<div class="ms-3">{% endcomment %}
          {% comment %}<p class="text-sm text-gray-700 dark:text-gray-800">{% endcomment %}
            {% comment %}This is an error message.{% endcomment %}
          {% comment %}</p>{% endcomment %}
        {% comment %}</div>{% endcomment %}
      {% comment %}</div>{% endcomment %}
    {% comment %}</div>{% endcomment %}
{% comment %}</div>{% endcomment %}
<!-- End Toast -->
</div>
