{% extends 'layouts/a.html' %}

{% block content %}

{% for review in reviews %}
{% include 'reviews/review.html' %}
{% endfor %}

{% if reviews.has_other_pages %}

<ul class="inline-flex -space-x-px text-sm">
    {% if reviews.has_previous %}
    <li>
        <a href="?page={{ reviews.previous_page_number }}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
    </li>
    {% else %}
    <li class="disable-pointer">
      <a href="" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
    </li>
    {% endif %}
    {% for i in reviews.paginator.page_range %}
      {% if reviews.number == i %}
        <li>
            <a href="?page={{ i }}" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"><span>{{i}} ( current )</span></a>
        </li>
      {% else %}
        <li>
            <a href="?page={{ i }}" aria-current = "page" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><span>{{ i }}</span></a>
        </li>
      {% endif %}
    {% endfor %}
    {% if reviews.has_next %}
        <li>
            <a href="?page={{ reviews.next_page_number }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
        </li>
    {% else %}
        <li class="disable-pointer">
          <a href="" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
        </li>
    {% endif %}
</ul>
{% endif %}


{% endblock %}
