{% extends 'layouts/a.html' %}

{% block content %}

{% load static %}
<article class="card">
    <div class="flex items-center justify-between px-4 h-14">
        <h3 class="text-start leading-5 mr-1 underline">{{ review.title }}</h3>
        <div class="text-sm text-gray-400 "><span class="text-gray-500">Given By: {{review.first_name}} :: {{review.created_at}}</span></div>
    </div>
    <div class="p-4 pb-2">
        <div class="flex items-center gap-1 mb-4" >
            <span class="text-gray-500">Description: {{ review.description }}</span>
        </div>
        <div class="flex items-center gap-1 mb-4">
            <span class="text-gray-500">Address Line 1: {{ review.address_line_1 }}</span>
        </div>
        <div class="flex items-center gap-1 mb-4">
            <span class="text-gray-500">address line 2: {{ review.address_line_2 }}</span>
        </div>
        <div class="flex items-center gap-1 mb-4" >
            <span class="text-gray-500">City: {{ review.city }}</span>
        </div>
        <div class="flex items-center gap-1 mb-4" >
            <span class="text-gray-500">State: {{ review.state }}</span>
        </div>
        <div class="flex items-center gap-1 mb-4" >
            <span class="text-gray-500">Pincode: {{ review.pin_code }}</span>
        </div>
        <div class="flex items-center gap-1 mb-4">

            <span class="text-gray-500">Supporting Docs:-
                {% for doc in review.supporting_docs.all %}
                {% if doc.doc_type == 'image' %}
                <a download={{ doc.name }} href="data:image/*;base64,{{ doc.doc_data | safe}}"><span class="text-gray-500 underline cursor">{{ doc.name }}</span></a>
                {% else %}
                <a download={{ doc.name }} href="data:application/pdf;base64,{{ doc.doc_data | safe}}"><span class="text-gray-500 underline cursor">{{ doc.name }}</span></a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
</article>

{% endblock %}
