{% load static %}
<article class="card">
    <div class="flex items-center justify-between px-4 h-14">
        <h3 class="text-start leading-5 mr-1 underline"><a href="/review/{{review.id}}">{{ review.title }}</a></h3>
        <div class="text-sm text-gray-400 truncate"><span class="text-gray-500">Given By: {{review.first_name}} :: {{review.created_at}}</span></div>
    </div>
    <div class="p-4 pb-2">
        <div class="flex items-center gap-1 mb-4" >
            <span class="text-gray-500">Description: {{ review.description }}</span>
        </div>
        <div class="flex items-center gap-1 mb-4">
            <span class="text-gray-500">Address Line 1: {{ review.address_line_1 }}</span>
        </div>
        <div class="flex items-center gap-1 mb-4">
            <span class="text-gray-500">address line 2: {{ review.address_line_2 }}</span>
        </div>
        <div class="flex items-center gap-1 mb-4">

            <span class="text-gray-500">Supporting Docs:-
                {% for doc in review.docs %}
                <a download={{ doc.name }} href="data:image/*;base64,{{ doc.doc_data | safe}}"><spon class="text-gray-500 underline cursor">{{ doc.name }}</span></a>
                {% endfor %}
            </span>
        </div>
    </div>
</article>
