{% load static %}
<article class="card">
    <a href="/review/{{review.id}}">
    <div class="flex items-center justify-between px-4 h-14">
        <h3 class="text-start leading-5 mr-1 underline">{{ review.title }}</h3>
        <div class="text-sm text-gray-400 "><span class="text-gray-500">Given By: {{review.first_name}} :: {{review.created_at}}</span></div>
    </div>
    <div class="p-4 pb-2">
        <div class="flex items-center gap-1 mb-4" >
            <span class="text-gray-500"><h3>Description:</h3> {{ review.description | slice:":255" | add:"..." }}</span>
        </div>
        <div class="flex items-center gap-1 mb-4">
            <span class="text-gray-500"><h3>Address Line 1:</h3> {{ review.address_line_1 }}</span>
        </div>
        <div class="flex items-center gap-1 mb-4">
            <span class="text-gray-500"><h3>Address line 2:</h3> {{ review.address_line_2 }}</span>
        </div>
        <div class="flex items-center gap-1 mb-4">

            <span class="text-gray-500"><h3>Supporting Docs:-</h3>
                {% for doc in review.supporting_docs.all %}
                <a target="_blank" href={{ doc.doc_link | safe}}><span class="text-gray-500 underline cursor">{{ doc.name }}</span></a>
                {% endfor %}
            </span>
        </div>
    </div>
    </a>
</article>
