
{% extends 'layouts/a.html' %}

{% block content %}

{% load static %}

<article class="card">
    <div class="p-4 pb-2">
        <div class="flex items-center gap-1 mb-4" >
            {% if user.profile.profile_pic %}
            <img class="h-32 w-32 rounded-full object-cover" src = "data:image/*;base64,{{user.profile.profile_pic | safe}}">
            {% endif %}
        </div>
        <div class="flex items-center gap-1 mb-4" >
            <span class="text-gray-500"><h3>First Name:</h3> {{ user.first_name}}</span>
        </div>
        <div class="flex items-center gap-1 mb-4">
            <span class="text-gray-500"><h3>Last Name:</h3> {{ user.last_name}}</span>
        </div>
        <div class="flex items-center gap-1 mb-4">
            <span class="text-gray-500"><h3>Email:</h3> {{ user.email}}</span>
        </div>
        <div class="flex items-center gap-1 mb-4" >
            <span class="text-gray-500"><h3>Username:</h3> {{ user.username}}</span>
        </div>
        <div class="flex items-center gap-1 mb-4" >
            <span class="text-gray-500"><h3>Job Title:</h3> {{ user.profile.job_title }}</span>
        </div>
    </div>
</article>
{% endblock %}
